Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you
might choose one over the other.

Ans- 
1. Ordinal Encoding
- Assumes an order or hierarchy among categories
- Suitable for ordinal data (e.g., "low" ,"Medium" , "High")
- Example:
  "low" - 1 , "Medium"-2 , "High" - 3
- Use when the categories have a natural ranking

2. label encoding
- Assigns arbitrary number to categories without assuming order
- Suitable for Nominal data ("Red" ,"Green" , "Blue)
- Example:
  "Red" - 0 ,Green - 1 ,"Blue" - 2
- Use when the categories have no inherent ranking

Choose one over the other 
- Use Ordinal Encoding for ranked data like education levels or customer satisfaction
- Use Label encoding for unranked data like colors or cities.

Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in
a machine learning project

Ans 
HOW IT WORK

1. Group the data : Calculate the mean or median of the target variable for each category
2. Order the Categories : Sort the categories based on the target mean/median
3. Assign Number : Replace the categories with number based on the sorted order

Example .

In [32]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder

data = {
    'Neighborhood' : ['A','B','A','C','B','C'],
    'House_Price(Target)' : [250000,50000, 300000, 350000, 100000, 400000]
    }
df = pd.DataFrame(data)
df

  Neighborhood  House_Price(Target)
0            A               250000
1            B                50000
2            A               300000
3            C               350000
4            B               100000
5            C               400000

In [33]:
mean_price= df.groupby('Neighborhood')['House_Price(Target)'].mean().to_dict()

df['Neighborhood_encoded (mean)'] = df['Neighborhood'].map(mean_price)

Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?
Ans - Covariance measures the direction of the linear relationship between two variable. It Indicate whether two varibale increases or decreases together 

Importance in Statistcal Analysis
- Identifies Relationships : Helps understand the relationship between two variables
- Foundation for PCA : Used in Principal Component Analysis to reduce dimensionality
- Feature Selction : Helps Identify features with strong relationship for model improvement

formula calculation
$$\[ \text{Cov}(X, Y) = \frac{\sum_{i=1}^{n} (X_i - \overline{X})(Y_i - \overline{Y})}{n}$$

Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium,
large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library.
Show your code and explain the output.

Ans-

In [34]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd 

data = {
    'Color' : ['red','green','blue'],
    'Size' : ['small','medium' ,'large'],
    'Material' : ['wood','metal','plastic']
}
df = pd.DataFrame(data)
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [35]:
encoder = LabelEncoder()


for column in df.columns:
    df[column] = encoder.fit_transform(df[column])

print(df)

   Color  Size  Material
0      2     2         2
1      1     1         0
2      0     0         1

Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education
level. Interpret the results.

Ans -

In [36]:
import numpy as np

data = {
    'Age': [20,22,24,26,28,30],
    'Income' : [30000,35000,40000,45000,50000,60000],
    'Education_Level' : [1,2,3,3,2,3]
}
df = pd.DataFrame(data)
df

   Age  Income  Education_Level
0   20   30000                1
1   22   35000                2
2   24   40000                3
3   26   45000                3
4   28   50000                2
5   30   60000                3

In [37]:
cov_matrix = df.cov()
print(cov_matrix)

                     Age        Income  Education_Level
Age                 14.0  4.000000e+04         2.000000
Income           40000.0  1.166667e+08      5666.666667
Education_Level      2.0  5.666667e+03         0.666667

Q6. You are working on a machine learning project with a dataset containing several categorical
variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD),
and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for
each variable, and why?

Ans - 
1. Gender : Label Encoding (since its binary )

Reason : Since Gender has two categories , Label Encoding (0 for Male , 1 for female) works well and doesn't introduce any unnecessary complexity

2. Education level : Ordinal Encoding

Reason : Education Level has natural order (high school < bachelors < Master < phd) , so encoding it with ordinal values (0,1,2,3) preserves the order 

3. Employment Status : One Hot encoding

Reason : Employment status is nominal variable ( no natural order). One hot encoding will create binary columns for each category (Unemployed,Part time,full time) to avoid introducing any un internded ordering

Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two
categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/
East/West). Calculate the covariance between each pair of variables and interpret the results.

Ans-

In [38]:
data = {
    'Temperature': [25, 22, 30, 28, 26],
    'Humidity': [60, 65, 50, 55, 70],
    'Weather Condition': ['Sunny', 'Cloudy', 'Rainy', 'Sunny', 'Cloudy'],
    'Wind Direction': ['North', 'South', 'East', 'West', 'North']
}
df = pd.DataFrame(data)
df

   Temperature  Humidity Weather Condition Wind Direction
0           25        60             Sunny          North
1           22        65            Cloudy          South
2           30        50             Rainy           East
3           28        55             Sunny           West
4           26        70            Cloudy          North

In [39]:
encoder = LabelEncoder()

df['Weather Condition'] = encoder.fit_transform(df['Weather Condition'])
df['Wind Direction'] = encoder.fit_transform(df['Wind Direction'])
cova_matrix = df.cov()
print(cov_matrix)

                     Age        Income  Education_Level
Age                 14.0  4.000000e+04         2.000000
Income           40000.0  1.166667e+08      5666.666667
Education_Level      2.0  5.666667e+03         0.666667